<html>
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
    <div class="login-form">
      <h1 style="color:rgb(255, 255, 255);">Please enter your new username and password</h1>
      <br>
      <form action="" method="post">
        <input type="text" class="login-username" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" class="login-password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="login-submit" type="submit" value="Register">
      </form>
      <div class="underlay-black"></div>
      <div class="underlay-photo"></div>
      <a href="{{ url_for('register') }}" class="login-forgot-pass" style="color:rgb(255, 255, 255);">Already have an account?</a>
    </div>
  </body>
</html>


